<!DOCTYPE html>
<html>
<head>
    <title>GitHub PR board</title>
    <link rel="icon" href="data:,">
    <style type="text/css">
        body {
            font-family: 'Open Sans', Arial, sans-serif;
        }

        table {
            padding: 0;
            border-collapse: collapse;
            border: none;
        }

        table.pull-requests tr {
            border-bottom: 1px solid #aaa;
        }

        td, th {
            padding: 0.25rem 0.75rem;
        }

        th {
            background-color: #eee;
            font-weight: bold;
            text-align: left;
        }

        .pr-link {
            color: black;
            text-decoration: none;
        }
        .pr-link:hover {
            color: #f30;
        }
        .pr-link:visited {
            color: black;
        }

        .repo-name {
            font-family: 'DejaVu Sans Mono', monospace;
        }

        td.status-merged {
            background-color: #cfc;
        }

        td.status-must-review {
            font-weight: bold;
            background-color: #cfc;
        }

        td.status-snoozed-until-time {
            background-color: #ddd;
            color: #999;
        }

        td.status-snoozed-until-update {
            background-color: #ddd;
            color: #999;
        }

        td.status-unknown {
            background-color: #f2f2f2; /* PR not known yet */
        }

        td.status-updated-after-snooze {
            background-color: #cfc;
        }
    </style>
    <script type="text/javascript">
        function snooze(pullRequestUrl) {
            alert(pullRequestUrl);
        }
    </script>
</head>
<body>
<table class="pull-requests">
    <thead>
        <tr>
            <th>Repo</th>
            <th>Status</th>
            <th>PR link</th>
            <th>Last updated in GitHub</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for pr in pull_requests %}
            <tr>
                <td>
                    <span class="repo-name">{{ pr.github_fields.repository.nameWithOwner }}</span>
                </td>
                <td class="status-{{ pr.workboard_fields.status }}">
                    {{ pr.workboard_fields.status }}
                </td>
                <td>
                    <a href="{{ pr.github_fields.url }}" class="pr-link" target="_blank" rel="noopener">{{ pr.github_fields.title }}</a>
                </td>
                <td>
                    {{ pr.render_only_fields.last_updated_desc }}
                </td>
                <td>
                    {% if pr.workboard_fields.status != 'snoozed-until-time' and pr.workboard_fields.status != 'snoozed-until-update' %}
                        <form action="/pr/snooze-until-time" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
                            <input type="hidden" name="pr_url" value="{{ pr.github_fields.url }}" />

                            <button type="submit">
                                Snooze for 1 day
                            </button>
                        </form>

                        <form action="/pr/snooze-until-update" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
                            <input type="hidden" name="pr_url" value="{{ pr.github_fields.url }}" />
                            <input type="hidden" name="current_updated_at" value="{{ pr.github_fields.updatedAt }}" />

                            <button type="submit">
                                Snooze until update
                            </button>
                        </form>
                    {% endif %}

                    {% if pr.workboard_fields.status != 'must-review' %}
                        <form action="/pr/mark-must-review" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
                            <input type="hidden" name="pr_url" value="{{ pr.github_fields.url }}" />

                            <button type="submit">
                                Mark 'must review'
                            </button>
                        </form>
                    {% endif %}

                    {% if not pr.render_only_fields.author_is_self %}
                        <form action="/pr/snooze-until-mentioned" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
                            <input type="hidden" name="pr_url" value="{{ pr.github_fields.url }}" />

                            <button type="submit">
                                Snooze until I'm mentioned (= someone else reviews)
                            </button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>
