<!DOCTYPE html>
<html>
<head>
    <title>GitHub PR board</title>
    <link rel="icon" href="data:,">
    <style type="text/css">
        body {
            font-family: 'Open Sans', Arial, sans-serif;
        }

        table {
            padding: 0;
            border-collapse: collapse;
            border: none;
        }

        table.pull-requests tr {
            border-bottom: 1px solid #aaa;
        }

        td, th {
            padding: 0.25rem 0.75rem;
        }

        th {
            background-color: #eee;
            font-weight: bold;
            text-align: left;
        }

        .pr-link, .pr-link:visited {
            color: #500;
            font-weight: 600;
            text-decoration: none;
        }
        .pr-link:hover {
            color: #f30;
            text-decoration: underline;
        }

        .repo-name {
            font-family: 'DejaVu Sans Mono', monospace;
        }

        td.status-merged {
            background-color: #cfc;
        }

        td.status-must-review {
            font-weight: bold;
            background-color: #cfc;
        }

        td.status-snoozed-until-time {
            background-color: #ddd;
            color: #999;
        }

        td.status-snoozed-until-update {
            background-color: #ddd;
            color: #999;
        }

        td.status-unknown {
            background-color: #f2f2f2; /* PR not known yet */
        }

        td.status-updated-after-snooze {
            background-color: #cfc;
        }

        .action-delete {
            font-weight: bold;
            color: #f20;
        }

        /* CSS-only spinner from https://loading.io/css/ */
        .lds-dual-ring,
        .lds-dual-ring:after {
          box-sizing: border-box;
        }
        .lds-dual-ring {
          display: inline-block;
          width: 80px;
          height: 80px;
        }
        .lds-dual-ring:after {
          content: " ";
          display: block;
          width: 64px;
          height: 64px;
          margin: 8px;
          border-radius: 50%;
          border: 6.4px solid currentColor;
          border-color: currentColor transparent currentColor transparent;
          animation: lds-dual-ring 1.2s linear infinite;
        }
        @keyframes lds-dual-ring {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
    </style>
    <script type="text/javascript">
        function confirmDeletion() {
            return window.confirm('Really forget about this PR? It will only be re-added automatically if it is reopened and authored/assigned/review-requested by you.');
        }

        function reload(event) {
            event.preventDefault();

            document.body.innerHTML = '<p>Reloading workboard. This may take a minute, or even fail in case of rate limit, if PR updates must be fetched from the GitHub API.</p><div class="lds-dual-ring"></div>';

            // Give the above a chance to render
            window.setTimeout(function() {
                location.reload();
            }, 10);
        }

        function uncache(githubPrUrl) {
            var form = document.getElementById('uncache-' + githubPrUrl);
            form.submit();
        }
    </script>
</head>
<body>
<p class="usage-hint">
<a href="#" onclick="reload(event)">Reload</a> this page every time you want to get updates of this PR list, for example <em>before</em> you start working on reviews. GitHub API requests are cached, so it makes no sense to hit the reload button repeatedly.
</p>
<table class="pull-requests">
    <thead>
        <tr>
            <th>Repo</th>
            <th>Status</th>
            <th>PR link</th>
            <th>Last updated in GitHub</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for pr in pull_requests %}
            <tr>
                <td>
                    <span class="repo-name">{{ pr.github_fields.repository.nameWithOwner }}</span>
                </td>
                <td class="status-{{ pr.workboard_fields.status }}">
                    {{ pr.workboard_fields.status }}
                </td>
                <td>
                    {# Submitted when a PR link is clicked (see below call to JavaScript function) #}
                    <form action="/pr/clicked" method="POST" id="uncache-{{ pr.github_fields.url }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
                        <input type="hidden" name="pr_url" value="{{ pr.github_fields.url }}" />
                    </form>

                    <a href="{{ pr.github_fields.url }}" class="pr-link" target="_blank" rel="noopener" onclick="uncache({{ pr.github_fields.url|tojson|forceescape }})">{{ pr.github_fields.title }}</a>
                </td>
                <td>
                    {{ pr.render_only_fields.last_updated_desc }}
                </td>
                <td>
                    {% if pr.workboard_fields.status != 'snoozed-until-time' and pr.workboard_fields.status != 'snoozed-until-update' %}
                        <form action="/pr/snooze-until-time" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
                            <input type="hidden" name="pr_url" value="{{ pr.github_fields.url }}" />

                            <button type="submit">
                                Snooze for 1 day
                            </button>
                        </form>

                        <form action="/pr/snooze-until-update" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
                            <input type="hidden" name="pr_url" value="{{ pr.github_fields.url }}" />
                            <input type="hidden" name="current_updated_at" value="{{ pr.github_fields.updatedAt }}" />

                            <button type="submit">
                                Snooze until update
                            </button>
                        </form>
                    {% endif %}

                    {% if pr.workboard_fields.status != 'must-review' %}
                        <form action="/pr/mark-must-review" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
                            <input type="hidden" name="pr_url" value="{{ pr.github_fields.url }}" />

                            <button type="submit">
                                Mark 'must review'
                            </button>
                        </form>
                    {% endif %}

                    {% if pr.workboard_fields.status == 'merged' %}
                        <form action="/pr/delete" method="POST" onsubmit="return confirmDeletion()">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
                            <input type="hidden" name="pr_url" value="{{ pr.github_fields.url }}" />

                            <button type="submit" class="action-delete">
                                Delete
                            </button>
                        </form>
                    {% endif %}

                    {% if not pr.render_only_fields.author_is_self %}
                        <form action="/pr/snooze-until-mentioned" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
                            <input type="hidden" name="pr_url" value="{{ pr.github_fields.url }}" />

                            <button type="submit">
                                Snooze until I'm mentioned (= someone else reviews)
                            </button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>
